<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#005fa9"/>
    <title>Portage APL</title>
    <meta name="description" content="Page Description Goes Here">
    <link href="https://fonts.googleapis.com/css?family=Actor|Montserrat" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
  </head>
  <body>

    <header>
    <section class="header"><a href="index.html"><img src="images/logo.png" alt="logo" class="logo"></a>
    <h1 class="apl">The Portage APL</h1>
    <div class="social">
      <a href="#"><img src="images/twitter.png" alt="twitter logo"></a>
      <a href="#"><img src="images/facebook.png" alt="facebook logo"></a>
      <a href="#"><img src="images/email.png" alt="email us"></a>
            <p><button class="btn btnglobal" type="button">Donate</button></p>
        </div>
    </section>
        
    <nav>
    <ul>
      <li><a href="info.html">Who We Are</a></li>
      <li><a href="profile.html">Animals</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Get Involved</a></li>
      <li><a href="events.html">News & Events</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    </nav>
    </header>
    
    <main class="info">
        <p>Thank you for stopping at Portage APL’s site and on behalf of the staff and the board and all the volunteers of our caring community, I want to welcome you and hope that we can be a resource and help you find what you need.</p>

<p>The Portage Animal Protective League is a 501(c)3 non-profit organization, dedicated to the care and welfare of the abused, abandoned, sick and injured animals that come through our doors. Almost 1000 such animals come to us each year and, unfortunately, many more cannot be accommodated until space becomes available. Our Humane Officer works tirelessly to uphold and enforce the Ohio animal cruelty laws in all of Portage County.</p>

<p>All of our efforts are funded through donations. We do charge adoption fees to partially offset operating costs which include some required immunizations, spay and neuter and many times, needed surgeries to mend broken limbs or medical care for serious illness.</p>

<p>Many of your questions may be answered by clicking on Frequently Asked Questions. But feel free to call us, or better yet, come out to the shelter and meet us in person.</p>

<p>We are proud of our efforts to serve the community and the animals and people in it. And thank you in advance for your support.</p>

        <p>Thank you for visiting our site!</p>

        <p class="sig">Chalan Lowry</p>

<p>Executive Director
</p>
    </main>
      
    <footer>
    <section class="footer">
    <section class="contact">
        <h2>Contact Us</h2>
        <ul>
            <li>330-555-5589</li>
            <li>apl@apl.org</li>
        </ul>
                <div class="socialfooter">
        <div class="icons">
      <a href="#"><img src="images/twitter.png" alt="twitter logo"></a>
      <a href="#"><img src="images/facebook.png" alt="facebook logo"></a>
      <a href="#"><img src="images/email.png" alt="email us"></a>
        </div>
        <div class="donation">
        <p><button class="btn btnglobal" type="button">Donate</button></p>
        </div>
        </div>
    </section>
    <section class="hours">
         <h2>Address</h2>
        <ul>
            <li>8122 Infirmary Road</li>
            <li>Ravenna, OH 44266</li>
        </ul>
    <br><h2>Hours</h2>
    <ul>
        <li>Sunday & Monday - Closed</li>
        <li>Tuesday - Friday 11-4</li>
        <li>Saturday - 11-3</li>
    </ul>
    </section>
    </section>
    <p class="copyright">Copyright 2018</p>
</footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>