header {
font-family: 'Montserrat', sans-serif;
font-family: 'Actor', sans-serif;
}

.header {
    display: block;
    clear: both;
}

.header h1 {
    text-align: left;
    font-size: 4em;
    font-weight: lighter;
}

.donate {
    flex: 0 0 100%;
    
}

.logo {
    max-width: 100%;
    float: left;
    padding: .5em;
}

.social {
float: right;
}

.donate {
    float: right;
}

nav {
    background-color: #f2f2f2;
    padding: 2px;
}

nav a {
    justify-content: space-evenly;
    font-family: 'Actor', sans-serif;
    color: #23965f;
    text-decoration: none;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    nav a {
        float: left;
        max-width: 50%;
    }
}


body {
  padding: 1em;
  font-family: 'Montserrat', 'Actor', sans-serif;
}

main {
    color: dark-gray;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #005fa9;
    font-family: 'Actor', sans-serif;
}

h2 {
    color: #23965f;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

.pet {
    max-width: 100%;
    
}

@media only screen and (min-width: 600px) {
    .pet {
        float: left;
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    
.eventimagealt {
    max-width: 100%;
    text-align: center;
}
    .eventimage {
    display:none;
    }
    .eventheader {
        text-align:center; 
    }
    .box {
	padding: 2em; 
	margin: .25em;}
    
    .row {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 600px) {
    .eventimagealt {
        display:none;
    }
    .eventimage {
    display:block;
    max-width: 50%;
    float: left;
    }
    .event {
    display: block;
    margin-left: 55%;
    
}
}

button {
    display: block;
    border: 2px solid #838695;
    border-radius: 25px;
    background-color: #f2f2f2;
    color: blue;
    text-transform: uppercase;
    font-size: 1.5em;
    width: auto;
    min-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .2em;
    word-wrap: normal;
    
}

ul {
     list-style-type: none;
    display: flex;
    justify-content:space-around;
}

footer {
    display: block;
    clear: both;
    background-color: #f2f2f2;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact {

}

.hours {
    
}


div, section, main, aside, header, footer {
  padding: .5em;
  margin-bottom: 1em;
}
