header {
font-family: 'Montserrat', sans-serif;
font-family: 'Actor', sans-serif;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header h1 {
    text-align: left;
    font-size: 4em;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.donate {
    flex: 0 0 100%;
    
}

.logo {
    max-width: 100%;
    float: left;
    padding: .5em;
}

.social {
    margin-left: auto;
}

.social img {
    max-width: 10%;
}

.donate {
    float: right;
}

nav {
    background-color: #f2f2f2;
    padding: 2px;
    max-width: 100%;
}



nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-family: 'Actor', sans-serif;
    color: #155B3F;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

@media only screen and (min-width: 800px) {
    .social {
        margin-left: auto;
        max-width: 25%;
    }
    nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
}


body {
  padding: 1em;
  font-family: 'Montserrat', 'Actor', sans-serif;
}

.pets img {
    max-width: 50%;
}

.box {
		width: 50%;
    height: auto;
		margin: 0;
	}

.row {
display: flex;
justify-content: space-evenly;
}

.catbox {
    width: 33%;
    height: 25em;
    background-image: url(images/cat.jpg);
    background-size:cover;
}

.dogbox {
    width: 33%;
    background-image: url(images/kelly.jpg);
    background-size: cover;
}

.otherbox {
    width: 33%;
    background-image: url(images/horse.jpg);
    background-size: cover;
}

.inner-box {
    background-color: rgba(0,0,0,.8);
    color: white;
    margin-top: 12em;
}

.inner-text {
    font-size: 3em;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 600px) {
.row {
display: flex;
flex-direction: column;
}
    .catbox {
    width: 100%;
    background-image: url(images/cat.jpg);
    background-size:cover;
}

.dogbox {
    width: 100%;
    background-image: url(images/kelly.jpg);
    background-size: cover;
}

.otherbox {
    width: 100%;
    background-image: url(images/horse.jpg);
    background-size: cover;
}
}

main {
    color: dark-gray;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #005fa9;
    font-family: 'Actor', sans-serif;
}

h2 {
    color: #23965f;
}

.slider {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.pet {
    max-width: 100%;
    
}

@media only screen and (min-width: 600px) {
    .pet {
        float: left;
        max-width: 50%;
    }
    
}

/* Event */

@media only screen and (max-width: 600px) {
    
.eventimagealt {
    max-width: 100%;
    text-align: center;
}
    .eventimage {
    display:none;
    }
    .eventheader {
        text-align:center; 
    }
    .box {
	padding: 2em; 
	margin: .25em;}

    .eventrow {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 600px) {
    .eventimagealt {
        display:none;
    }
    .eventimage {
    display:block;
    max-width: 40%;
    float: left;
    }
    .event {
    display: block;
    margin-left: 55%;
    
}
}

button {
    display: block;
    border: 2px solid #838695;
    border-radius: 25px;
    background-color: #f2f2f2;
    color: blue;
    text-transform: uppercase;
    font-size: 1.5em;
    width: auto;
    min-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    letter-spacing: .2em;
    word-wrap: normal;
    
}

ul {
     list-style-type: none;
    display: flex;
    justify-content:space-around;
}

footer {
    display: block;
    clear: both;
    background-color: #f2f2f2;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact {

}

.hours ul{
    display: flex;
    flex-direction: column;
    padding-right: 5em;
}


div, section, main, aside, header, footer {
  padding: .5em;
  margin-bottom: 1em;
}
