*{
    box-sizing: border-box;
}

header {
font-family: 'Montserrat', sans-serif;
font-family: 'Actor', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header h1 {
    text-align: left;
    font-size: 4em;
    font-weight: lighter;
    color: #005fa9;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 660px) {
    .header h1 {
        font-size: 3em;
    }
}

.donate {
    flex: 0 0 100%;

}

.logo {
    max-width: 100%;
    float: left;
    padding: .5em;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: auto;

}

.social button {
    float: right;
}

.social img {
    max-height: 50px;
}

.social p {
    width: 100%;
}



nav {
    background-color: #717171;
    padding: 2px;
    max-width: 100%;
}



nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-family: 'Actor', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}


@media only screen and (min-width: 850px) {
    .social {
        margin-left: auto;
        max-width: 35%;
    }
    .socialfooter {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    
    .socialfooter img {
        width: 50px;
    }
    
    .donation, .icons {
        margin-left: 10px;
    }
    nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

}

@media only screen and (max-width: 849px) {
    
    .social {
        display: none;
    }
    .socialfooter {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
    }
    
    .socialfooter img {
        width: 50px;
    }
    
    .donation, .icons {
        margin-left: 10px;
    }
    
    .footerlogo {
        display: none;
    }
    
    nav a{
            font-size: 1.5em;
    }
}


body {
  padding: 1em;
  font-family: 'Montserrat', 'Actor', sans-serif;
}

.pets img {
    max-width: 50%;
}

.box {
		width: 50%;
    height: auto;
		margin: 0;
	}

.row {
display: flex;
justify-content: space-evenly;
}

.catbox {
    width: 33%;
    height: 25em;
    background-image: url(images/cat.jpg);
    background-size:cover;
}

.dogbox {
    width: 33%;
    background-image: url(images/kelly.jpg);
    background-size: cover;
}

.otherbox {
    width: 33%;
    background-image: url(images/horse.jpg);
    background-size: cover;
}

@media only screen and (max-width: 600px) {
.row {
display: flex;
flex-direction: column;
}
    .catbox {
    width: 100%;
    background-image: url(images/cat.jpg);
    background-size:cover;
}

.dogbox {
    width: 100%;
    background-image: url(images/kelly.jpg);
    background-size: cover;
}

.otherbox {
    width: 100%;
    background-image: url(images/horse.jpg);
    background-size: cover;
}
}

/* testing */

.petbox {
    width: 100%;
    margin: 0;
}

.petrow img {
    max-width: 50%;
}

.petrow {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;

}

@media only screen and (max-width:600px) {
    .petrow {
        display: block;
        text-align: center;
        padding: 1em 5em;
    }
}

.crop {
    height: 400px;
    width: 400px;
    overflow: hidden;
    padding: 2px;
}

.crop img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.animaltext {
    text-align: center;

}

.animaltext a{
    text-decoration: none;
    color: #717171;
    font-size: 2em;
}

.animaltext img{
   max-width: 100%;

}

main {
    color: dark-gray;
    font-family: 'Montserrat', sans-serif;
}

.apl {
    color: #005fa9;
}

h1 {
    color: #005fa9;
    font-family: 'Actor', sans-serif;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    color: #23965f;
}

.slider {
    max-width: 100%;
    max-height: 80%;
    text-align: center;
    margin: 0 auto;
    display:block;
}

.pet {
    max-width: 100%;

}

@media only screen and (min-width: 600px) {
    .pet {
        float: left;
        max-width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .crop {
    max-height: 250px;
    max-width: 250px;
    overflow: hidden;
    padding: 2px;
    }

    .crop img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: scale-down;
}
}

@media only screen and (max-width:700px) {
        .crop {
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    padding: 2px;
    }

    .crop img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: scale-down;
}
}

/* Event */

@media only screen and (max-width: 600px) {

.eventimagealt {
    max-width: 100%;
    text-align: center;
}
    .eventimage {
    display:none;
    }
    .eventheader {
        text-align:center;
    }
    .box {
	padding: 2em;
	margin: .25em;}

    .eventrow {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 600px) {
    .eventimagealt {
        display:none;
    }
    .eventimage {
    display:block;
    max-width: 40%;
    float: left;
        padding-right: 20px;
    }
    .event {
    display: block;
    margin-left: 55%;

}
}

/* button styling */

.btn {
  border-width: 0;
  outline: none;
  border-radius: 25px;
    padding: .25em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  color: #fff;
    font-size: 2em;
  
  transition: background-color .3s;
}

.btnadopt {
      background-color: #23965f;
}

.btnglobal {
      background-color: #005fa9;
}

.btnglobal:hover, .btnglobal:focus {
  background-color: #003055;
}

.btnadopt:hover, .btnadopt:focus {
  background-color: #17633f;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}


ul {
     list-style-type: none;
    display: flex;
    justify-content:space-around;
}

footer {
    display: block;
    clear: both;
    background-color: #717171;
    margin-bottom: 0;

}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em 1em 0 1em;
    margin-bottom: 0;
}

.footer h2 {
    color: #fff;
}

.contact h2{
    padding-left: auto;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}
@media only screen and (min-width: 600px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
}
@media only screen and (max-width: 555px) {
    .contact a {
        font-size: 1.5em;
    }
}

.hours ul, .contact ul{
    display: flex;
    flex-direction: column;
    padding-right: 1em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mission {
    background-image: url(images/mission.jpg);
    background-size:cover;
    margin: 0 auto;
    padding: 10em auto;
    background-position: center;
}

.mission h1 {
    font-size: 3em;
    color: #fff;
    margin-top: 0;
}

.statement {
    margin: 0em 5em 5em 5em;
    font-style: oblique;
}

.inner-box {
    background-color: rgba(0,0,0,.3);
    color: white;
    position: relative;
    padding: 2px;
    max-height: 80%;
    max-width: 50%;
}

.inner-text {
    font-size: 3em;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 700px) {

        .inner-box {
        max-width: 100%;
    }

}

@media only screen and (min-width: 700px) {

        .inner-box {
        max-width: 50%;
        margin-left: 50%;
    }

}

@media only screen and (min-width: 700px) {
    .mission {
        width: 100%;
    }

}



@media only screen and (min-width: 1000px) {
    .mission {
        width: 80%;
    }

}


/* Homepage Event & Involvement*/

.homeevent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.imgcontainer {
    max-width: 50%;
    align-self: center;
}

.homeevent img { 
    border: 10px solid black;
    max-height: 300px;
}

 .homeeventbox {
     max-width: 50%;
     color: white;
     align-items: center;
}

.homeeventbox a {
    text-decoration: none;
    color: #717171;
    font-size: 5em;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .homeevent {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin: 1em 4.5em;
        padding: 0;
    }
    
    .imgcontainer {
        max-width: 100%;
        margin: 0 auto;
    }
    
    .homeevent img {
        max-width: 100%;
    }
    
    .involve {
    display: flex;
    flex-direction: column-reverse;
    }
    
        .homeeventbox {
        max-width: 100%;
    }
}

@media only screen and (mix-width: 650px, max-width: 1000px) {
    .wrapper {
        width: 100%;
        padding: 5em;
    }
}

@media only screen and (max-width: 600px) {
    .homeeventbox a{
        font-size: 2em;
        text-align: center;
    }
}

.hr{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

div, section, main, aside, header{
  margin-bottom: .5em;
}

.copyright {
    text-align: center;
    color: white;
    padding-bottom: 1em;
}

/* Pattern Library */

.patterns {
    margin: 1em 5em;
    padding: .5em 5em;
}

.patterns h2 {
    text-align: left;
}

.color {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.colors {
    height: 100px;
    width: 100px;
    margin: 1em;
}

.colorsmall {
    height: 80px;
    width: 80px;
    margin: 1em;
}

.color1 {
    background-color: #005fa9;
}

.color2 {
    background-color: #23965f;
}

.color3 {
    background-color: #717171;
}

.color4 {
    background-color: #003055;
}

.color5 {
    background-color: #17633f;
}

.headercontainer {
    display: flex;
    flex-direction: row;
}

.headers {
    margin: .5em;
}

.headers h1 {
    margin: 0;
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.actor {
    font-family: 'Actor', sans-serif;
    margin: 1em;
}

.bold {
    font-weight: bold;
}

.montserrat {
    font-family: 'Montserrat';
    margin: 1em;
}

.buttons {
    margin: 1em;
}